<div class="container-fluid mainContainer">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">APPIFY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">NOTES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CALCULATOR</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>

  <div class="container">
    <div class="col-xs-12 text-center">
      <h2 class="notesText">NOTES</h2>
    </div>
    <div class="col-xs-12 col-md-12 mb-4" >
      <app-notes-display></app-notes-display>
    </div>

    <!-- <div class="colxs-12 text-center" >
      <h4>Your Personalised List</h4>
  </div>

    <div class="col-xs-12 mt-8">
      <app-notes-logic></app-notes-logic>
    </div> -->
  </div>
</div>